/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 8,
        memory: '12.GB',
        time: '1.h'
    ]
}

params {
    modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
}
